@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}





#container {
  position: fixed; /* Utilisation de position absolute pour garantir qu'il occupe tout l'écran */
  width: 100%;
  height: 100%;
  z-index: 3;
}

#deck-canvas {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}




/* HEADER */
#header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  gap: 15px;
  height: 6%;     /* ou la hauteur que tu souhaites */
  z-index: 1001;    /* pour passer au-dessus de la carte */
  color: #1C4568 ;
  background: #fff;
  opacity: 0.9;
  display: flex;
  align-items: center;
  padding: 10px;
  font-family: Poppins;
  font-size: 16px;
  justify-content: space-between;/* espace entre le bloc de gauche et celui de droite */
}

#header-left {
  display: flex;
  align-items: center;
  gap: 30px;
}


#header-logo {
  display: flex;
  align-items:center;
  gap: 0px;
  white-space: nowrap;
  margin-left: 0px;
  text-decoration: none;
}

#header img {
  max-height: 50px;
  margin-left: 26px;
  margin-top: 3px;  
}

#header-right {
  display: flex;
  align-items: center;
  gap: 10px; /* Espace entre le toggle et le bouton */
  margin-right: 40px;
}

#header-right svg {
  width: 18px;
  height: 18px;
  flex-shrink: 0; /* évite que les SVG rétrécissent */
  fill: white;
}



#header button {
  color: #1C4568;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: rgb(158, 162, 174);
  border-right-color: rgb(158, 162, 174);
  border-bottom-color: rgb(158, 162, 174);
  border-left-color: rgb(158, 162, 174);
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
  padding-top: 6px;
  padding-right: 18px;
  padding-left: 18px;
  line-height: 18px;
  background-color: transparent;
  margin-left: 42px;
  cursor: pointer;
  overflow: visible;
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  text-align: center;
  align-items: center;
}

#header button:hover {
  background-color: #199b43; /* Couleur du bouton au survol */
}


/*  Gestion fond de carte */
.map-select {
  color: #1C4568;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: rgb(158, 162, 174);
  border-right-color: rgb(158, 162, 174);
  border-bottom-color: rgb(158, 162, 174);
  border-left-color: rgb(158, 162, 174);
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
  padding-top: 6px;
  padding-right: 18px;
  padding-left: 18px;
  line-height: 18px;
  background-color: #fff;
  margin-left: 42px;
  cursor: pointer;
  overflow: visible;
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0px;
  text-align: center;
  align-items: center;
}

.map-select:hover {
  background-color: #199b43;
}


#btn-export {
  background-color: #124E66;
  color: white;
  padding: 6px 12px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 20px;
}


/* SINGLE VIEW & SPLIT VIEW CONTAINERS */
#single-view,
#split-view {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#split-view {
  display: flex;
}

.panel {
  width: 50%;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

/* DECK CANVAS */
#deck-canvas-single,
#canvas-left,
#canvas-right {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}





#controls-right {
  position: absolute;
  top: 20%;
  right: 40px;
  z-index: 1000;
}

/* TOOLTIP */
.deck-tooltip {
  font-family: 'Poppins', sans-serif !important;
  font-size: 0.9em;
  background-color: #333 !important;
  color: #fff !important;
  padding: 6px;
  border-radius: 4px;
}

/* OVERRIDE: .layer-controls & .slider-container styling */


.layer-controls label {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 0 20px;
  width: 220px;
  cursor: pointer;
  height: 50px;
  position: relative;
}






/* -------------------------------------------------------
   Styles pour les filtres temporels (mois, jours, heures)
   ------------------------------------------------------- */

/* groupement des cases à cocher */
.slider-container .checkbox-group {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 4px;
  
}

/* chaque label de checkbox */
.slider-container .checkbox-group label {
  display: flex;
  align-items: center;
  gap: 4px;
  width: 60px;
  
}

/* espace entre checkbox et texte */
.slider-container .checkbox-group label input {
  margin-right: 4px;
}

/* noUiSlider : conteneur du slider */
.noUi-target {
  margin: 10px 0;
  
}

/* rail du slider */
.noUi-horizontal {
  height: 6px;
  border-radius: 3px;
  background: #435dd8;
}

/* portion “connectée” */
.noUi-horizontal .noUi-connect {
  background: #76c7c0;
}

/* poignée de contrôle */
.noUi-origin .noUi-handle {
  width: 14px;
  height: 14px;
  top: -4px;
  background: #fff;
  border: 2px solid #435dd8;
  border-radius: 50%;
  box-shadow: 0 0 2px rgba(0,0,0,0.5);
}



.chart-panel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  position: absolute;
  bottom: 20px;
  left: 500px;
  z-index: 1000;
  width: 520px; /* ou plus selon ton espace disponible */
  height: 220px;
}

.chart-panel canvas {
  width: 200px !important;
  height: 200px !important;
}

#single-hour-histogram,
#left-hour-histogram,
#right-hour-histogram {
  width: 300px !important;
}

#donut-left,
#donut-right,
#donut-single{
  width: 15px;
  height: 15px
}


.legend-container {
  position: fixed;
  bottom: 40px;
  right: 20px;
  z-index: 1000;
  padding: 10px 15px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: Poppins, sans-serif;
  font-size: 13px;
  transition: background 0.3s, color 0.3s;
}

.legend-gradient {
  width: 120px;
  height: 12px;
  border-radius: 6px;
  background: linear-gradient(to right, rgb(1,152,189), rgb(73,227,206), rgb(216,254,181), rgb(254,237,177), rgb(254,173,84), rgb(209,55,78));
}

.legend-label {
  white-space: nowrap;
}

/* Mode clair */
body:not(.dark-mode) .legend-container {
  background-color: rgba(255, 255, 255, 0.9);
  color: #000;
  box-shadow: 0 0 6px rgba(0,0,0,0.2);
}

/* Mode sombre */
body.dark-mode .legend-container {
  background-color: rgba(20, 20, 20, 0.9);
  color: #fff;
  box-shadow: 0 0 6px rgba(255,255,255,0.1);
}


#btn-export-pdf {
  background-color: #124E66;
  color: white;
  padding: 5px 10px;
  font-family: Poppins;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#btn-export-pdf:hover {
  background-color: #199b43;
}






#sidebar-buttons {
  position: fixed;
  top: 100px;
  left: 15px;
  background: rgb(251, 252, 254);
  display: flex;
  flex-direction: column;
  z-index: 1200;
  border-radius: 12px;
  padding: 2px;
  
}

.sidebar-btn {
  fill :rgb(158, 162, 174);
  width: 56px;
  height: 60px;
  border-radius: 12px;
  background-size: 60%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  cursor: pointer;
  outline: 0px;
  transition: background-color 0.2s;
  border: medium;
}

.sidebar-btn:hover {
  background-color: #199b43;
}

.sidebar-btn:nth-child(1) {
  background-image: url('https://www.svgrepo.com/show/532917/layer-group.svg');
  
}
.sidebar-btn:nth-child(2) {
  background-image: url('https://www.svgrepo.com/show/532173/filter-xmark.svg'); /* Icône transports */
}
.sidebar-btn:nth-child(3) {
  background-image: url('https://www.svgrepo.com/show/521888/time.svg'); /* Icône clock/temps */
}

.sidebar-panel {
  position: relative;
  flex-direction: column;
  top: 100px;
  left: 90px;
  width: 359px;
  max-height: calc(-115px + 100vh);
  padding-bottom: 26px;
  overflow-y: auto;
  background-color: rgb(251, 252, 254);
  border-radius: 8px;
  padding: 20px;
  z-index: 1200;
  display: none;
  color: white;
}

.ChoixLayer {
  font-family: inherit;
  color: #124E66;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 10px;
}

.layer-group {
  font-family: inherit;
  font-size: 14px;
  color: #124E66;
}

.TypeAgreg {
  font-family: inherit;
  color: #124E66;
  font-size: 14px;
}

.NomFiltre{
  font-family: inherit;
  font-size: 12px;
  color: #124E66;
  margin-bottom: 5px;
}

/* level settings 👇 */

.slider-wrapper {
  /* slider */
  --slider-width: 100%;
  --slider-height: 6px;
  --slider-bg: #1C4568;
  --slider-border-radius: 999px;
  /* level */
  --level-color: grey;
  --level-transition-duration: .1s;
  /* icon */
  --icon-margin: 15px;
  --icon-color: var(--slider-bg);
  --icon-size: 25px;
}

.slider-wrapper {
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}



.slider-wrapper .level {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: var(--slider-width);
  height: var(--slider-height);
  background: var(--slider-bg);
  overflow: hidden;
  border-radius: var(--slider-border-radius);
  -webkit-transition: height var(--level-transition-duration);
  -o-transition: height var(--level-transition-duration);
  transition: height var(--level-transition-duration);
  cursor: inherit;
}

.slider-wrapper .level::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 0;
  height: 0;
  -webkit-box-shadow: -200px 0 0 200px var(--level-color);
  box-shadow: -200px 0 0 200px var(--level-color);
}

.slider-wrapper:hover .level {
  height: calc(var(--slider-height) * 2);
}

/* Assure que le nouveau slider reste contenu dans son volet */
#dom-slider-single,
#dom-slider-left,
#dom-slider-right {
  margin: 0 4px;
}


.panel .layer-controls,
#layer-controls-single{
  position:absolute;
  top:100px;
  left:15px;        
  z-index:1200;
}


/* même rendu pour single, gauche et droite */
#sidebar-buttons{
  position:fixed;
  top:100px;
  left:15px;
  background:#fbfcfe;
  display:flex;
  flex-direction:column;
  z-index:1200;
  border-radius:12px;
  padding:2px;

}

#sidebar-buttons-right{
  position:fixed;
  top:100px;
  left:860px;
  background:#fbfcfe;
  display:flex;
  flex-direction:column;
  z-index:1200;
  border-radius:12px;
  padding:2px;
}

#sidebar-buttons-left{
  position:fixed;
  top:100px;
  left:15px;
  background:#fbfcfe;
  display:flex;
  flex-direction:column;
  z-index:1200;
  border-radius:12px;
  padding:2px;

}

